// $header_fonts: "Impact", "Arial Black", "Arial", "sans-serif";
$body_fonts: "Arial", "Verdana", "sans-serif";

$red: #d45447;
$faded_red: #e08a81;
$yellow: #ffaa23;
$faded_green: #bcd5ae;
$green: #92d270;

$light_gray: #dddddd;
$middle_gray: #999999;
$dark_gray: #444444;

@mixin header {
  font-family: $header_fonts;
  background-color: black;
  color: white;
}

@mixin gradient($first, $second) {
  background: $second;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$first', endColorStr='$second');
  background: -webkit-gradient(linear, top left, left bottom, from($first), to($second)) no-repeat scroll 0 0 transparent;
  background: -moz-linear-gradient(top, $first, $second) no-repeat scroll 0 0 transparent;
}

@mixin drop_shadow($top, $left, $blur, $spread, $color) {
  -moz-box-shadow: $top $left $blur $spread $color;
  -webkit-box-shadow: $top $left $blur $spread $color;
  box-shadow: $top $left $blur $spread $color;
}
